{% extends 'base.html' %}

{% block content %}
<div class="container mt-4" >
    {% if 'OK' in request.GET %}
	<p><b> Los datos han sido enviados correctamente. </b> </p>
    {% endif %}
    <form method="POST" action="{% url 'polls:c-poll' %}">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <h3>Create View</h3>
            </div>
            <div class="card-body" style="display:inline-grid;
            grid-template-columns: auto auto;
            padding:30px;
            ">
                {{ form.non_form_errors }}
                {{ form.as_p }}
                
            </div>
        </div>
        <div class="mt-3 mb-5">
            <button type="submit" class="px-5 btn btn-info">Submit</button>
        </div>
    </form>
    {{request.POST}}

  

    <script>
        $(document).ready(function() {
          // Obtén la fecha y hora actual
          var now = new Date();
          
          // Formatea la fecha en el formato que estás utilizando (día/mes/año)
          var formattedDate =  now.getFullYear() +  '-' + (now.getMonth() + 1) + '-' +now.getDate();
          
          // Formatea la hora en el formato que estás utilizando (HH:mm)
          var formattedTime = ('0' + now.getHours()).slice(-2) + ':' + ('0' + now.getMinutes()).slice(-2) + ':' + ('0' + now.getSeconds()).slice(-2);

          
          // Combina la fecha y la hora en un solo valor
          var initialDatetime = formattedDate + ' ' + formattedTime;
          
          // Asigna el valor inicial al campo de fecha y hora
          $('.datepicker').val(initialDatetime);
        });
      </script>

</div>
{% endblock %}


