{% extends "base.html" %}

{% load static %}



{% if next %}
    {% if user.is_authenticated %}
   
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}



 {% block content %}
        
  
        
        

        <h1>Hola esta es otra prueba</h1>
        
        <link rel="stylesheet" href="{% static 'polls/home.css' %}">

        <div class="tarjeta" >
            <div class="titulo">Bien venido,  ¿quieres ingresar a las encuestas?</div>
            <div class="cuerpo">
               
            </div>
            
                <a  class="pie" href="{% url 'polls:main' %}">Vamos a ello</a>
           
            </div>
        </div>
 {% endblock content %}