{% extends 'base.html' %}

{% load static %}

{% block title %} Home {% endblock %}





{% if next %}
    {% if user.is_authenticated %}
   
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}






{% block content %}



  

        <div class="row" style="color:white;">

          <div class="col-sm-4" style="background-color: #131117;">
            <h2>About Me</h2>
            <h5>Pues yo:</h5>
            <img src="static/polls/images/yo.jpg" alt="Una foto de un guapo galan" style="object-fit: cover;">
            <p>Soy Matthewss, y soy un jóven practicante en el área de desarrollo y soporte técnico en finkok y mi meta es tener un gothic gurl tatuada </p>
            <h3 class="mt-4">Some Links</h3>
            <p>Lorem ipsum dolor sit ame.</p>
            <ul class="nav nav-pills flex-column">
              
              <li class="nav-item">
                <p><a class="btn btn-lg" style="background-color:#4C03F1; color: white;" href="{% url 'polls:main' %}" role="button">go to polls &raquo;</a></p>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
            </ul>

            <hr class="d-sm-none">
          </div>

          <div class="col-sm-8" style="background-color:050308;">
            <h2 style=" text-decoration: underline overline;">Ejemplo de Proyecto de Encuestas</h2>
            <h5> -Desarrollado en Django</h5>
            <br>
            <p> Los usuarios pueden crear encuestas personalizadas con preguntas de opción múltiple o abiertas. Pueden definir la duración de la encuesta y establecer opciones de privacidad.</p>
            <p>SLos creadores de encuestas pueden ver y administrar todas sus encuestas, incluyendo la posibilidad de editar, eliminar o desactivar encuestas anteriores.</p>
            <p>Los usuarios registrados pueden participar en las encuestas respondiendo a las preguntas proporcionadas. Se pueden proporcionar comentarios o aclaraciones para preguntas abiertas.</p><br>
      
            <h2 class="mt-5">Te Preguntarás donde Hago residencias</h2>
            <h5>Nada más y menos que en FIKOK S.A de C.V</h5>
            <img src="static/polls/images/FKK.png" alt="Una foto de un guapo galan" style="object-fit: cover;"><br>
            <p>¿Quiénes Somos?</p>
            <p>Único proveedor en ofrecer un facturación electrónica OnDemand, es decir, sobre demanda, usted paga solo lo que consume al término del periodo de 30 días. Con FINKOK usted no paga por adelantado, solo pónganse en contacto con nosotros para asignarle a un experto integrador de sistemas, él le ayudara a integrar su sistema con el de FINKOK para comenzar a facturar, esto no tiene ningún costo para usted</p>
          </div>
        </div>
      

 


  

{% endblock %}





