{% extends 'base.html' %}



{% block content %}


    {% if user.is_authenticated %}
   
    {% else %}
   {#No mostrará nada#}
    {% endif %}

    {% if object_list %}
    <ul>
    {% for question in object_list %}
   
<div>
    <div class = "list-group"><br>
    
        <a href="{% url 'polls:detail' question.id  %}" class="list-group-item list-group-item-action flex-column align-items-start active" style="margin-bottom: 10px; background-color:#6920D9; border-style: none;">
            <div class="d-flex w-100 justify-content-between" >
              <h5 class="mb-1">{{ question.question_text }}</h5>
              <small>Publicado el {{question.pub_date}} </p> </small> 
              
                
            </div>
          
          </a>
    </div>
   

    
    <a href="{% url 'polls:update' question.id %}">
        <button type="button" class="btn btn-warning">Update</button>
    </a>
   

    <a href="{% url 'polls:deletePoll' question.id %}">
      <button type="button" class="btn btn-danger">Delete</button>
    </a> 






</div>
    
    {% endfor %}
    </ul>

    {% else %}
    <p>No polls are available.</p>
    {% endif %}

{% endblock content %}


  <h3 style="color:white">  Hi {{ user.username }}  ! </h3>
    
  <p><a class="btn btn-danger btn-lg" href="{% url 'polls:log-out' %}" role="button">Log Out &raquo;</a></p>